__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.dvc
.dvcignore
dvc.yaml
dvc.lock
mlruns/
Dataset/
cats_and_dogs_filtered.zip
model.h5
